<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/souvenirs']">
                <ion-icon name="menu-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Souvenirs</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="person-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-card *ngFor="let souvenir of listSouvenirs;">
            <div class="card-title">{{souvenir.nom}}</div>
            <div class="card-subtitle">{{souvenir.lieu}}</div>
            <div class="card-subtitle">{{souvenir.date}}</div>
            <div class="ion-card-content">
                <ion-img src={{souvenir.image}}></ion-img>
            </div>

        </ion-card>
    </ion-list>
</ion-content>