ion-toolbar {
    --background: #FFF2F2;
}

ion-title {
    text-align: center;
    font-weight: bold;
}

ion-card {
    --background: #FFF2F2;
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
    margin: 5px
}

.ion-card-content {
    margin-top: 5px;
}