<ion-header>
  <ion-toolbar >
    <ion-title style="text-align : center;">Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="invisible">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div>
            <ion-item>
              <ion-label style="text-align: center;" position="floating">Identifiant</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label style="text-align: center;" position="floating">Mot de passe</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <p><a [routerLink]="['/souvenirs']">Mot de passe oublié</a></p>
          </div>
          <br>
          <ion-row>
            <div>
              
            </div>
            </ion-row>
          <div>
            <ion-card class="bouton" [routerLink]="['/souvenirs']" type="submit" [disabled]="form.invalid" expand="block"><h4>Se connecter</h4></ion-card>
          </div>
        <p>Pas encore de compte ?<br><a [routerLink]="['/register']">Créer un compte</a></p>  
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</div>
</ion-content>
