ion-toolbar{
    --background: #FFF2F2;
}

.dansHeader{
    height: 30px;
    width: 30px;
    margin-right : 20px;
    color : black;
}



.bouton{
    
    height: auto;
    width : auto;
    margin: auto;
    text-align: center;
    margin-top : 20px;
    background-color: #FFF2F2;
    color:black;
}


.flex {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .img-box {
    height: 200px;
    overflow: hidden;
  }
  img {
    height: 200px;
  }
