<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button><ion-icon class="dansHeader" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Nouveau souvenir</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon class="dansHeader" name="person-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content class="ion-pading">


  <ion-item>
    <ion-label style="text-align: center;" position="floating">Nouveau souvenir</ion-label>
    <ion-input></ion-input>
  </ion-item>


  
  <ion-button (click)="addPhoto()" expand="block">
    <ion-icon name="image" slot="start"></ion-icon>
    Ouvrir la bibliothèque
  </ion-button>



  <div class="flex">
    <div class="img-box">
      <img [src]="image">
    </div>
  </div>

  <ion-card class="bouton">
    <p>Suivant</p>
  </ion-card>
  
  


</ion-content>