ion-button{
    --background: #FFF2F2;
    --color:black;
}

ion-toolbar{
    --background: #FFF2F2;
}

ion-title {
    text-align: center;
    font-weight: bold;
}

ion-card {
    --background: #FFF2F2;
}

.texte {
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
    margin-left: 5px;
}

h3 {
    margin: 15px;
    text-align: center;
    font-weight: bold;
}