<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/souvenirs']"><ion-icon class="dansHeader" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Rewind</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/mon-profil']"><ion-icon class="dansHeader" name="person-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Revivez vos meilleurs souvenirs du mois</h3>
    <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let souvenir of listSouvenirs;">
            <ion-card>
              <img id="card_img" src="{{souvenir.image}}">
                <div class="texte">
                    <div class="ion-card-content">{{souvenir.lieu}}</div>
                    <div class="ion-card-content">{{souvenir.date}}</div>
                </div>

            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>