<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button><ion-icon name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Mon profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile">
    <div class ="img-box">
      <img src="../../assets/profile.jfif">
    </div>
   <div class="icon-box">
     <ion-icon name="pencil-outline"></ion-icon>
   </div> 
    
    <div class="Desc">
    <ion-label >RKETING</ion-label><br>
    <ion-label >Emma</ion-label> 
   </div> 
  </div>     
  
  <ion-list>
    <ion-card *ngFor="let souvenir of listSouvenir;">
        <div class="card-title">{{souvenir.nom}}</div>
        <div class="card-subtitle">{{souvenir.lieu}}</div>
        <div class="card-subtitle">{{souvenir.date}}</div>
        <div>
            <ion-img src={{souvenir.image}}></ion-img>
        </div>

    </ion-card>
</ion-list>

</ion-content>
