<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/souvenirs']"><ion-icon class="dansHeader" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Souvenirs</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/mon-profil']"><ion-icon class="dansHeader" name="person-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="['/new-souvenir']">
    <table>
      <tr>
        <td>
          <div><ion-icon class="dansCard" name="pencil-outline"></ion-icon></div>
        </td>
        <td>
          <p class="titreCard">Nouveau</p>
          <p>Créer un souvenir<br><br></p>
        </td>
      </tr>
    </table>
  </ion-card>
  <ion-card [routerLink]="['/home']">
    <table>
      <tr>
        <td>
          <div ><ion-icon class="dansCard" name="search-outline"></ion-icon></div>
        </td>
        <td>
          <p class="titreCard">Recherche</p>
          <p>Recherchez des souvenirs partagés</p>
        </td>
      </tr>
    </table>
  </ion-card>
  <ion-card [routerLink]="['/fil-souvenir']">
    <table>
      <tr>
        <td>
          <div ><ion-icon class="dansCard" name="filter-outline"></ion-icon></div>
        </td>
        <td>
          <p class="titreCard">Voir des souvenirs </p>
          <p>Retrouvez vos souvenirs et ceux de vos amis</p>
        </td>
      </tr>
    </table>
  </ion-card>
  <ion-card [routerLink]="['/rewind']">
    <table>
      <tr>
        <td>
          <div ><ion-icon class="dansCard" name="play-back-outline"></ion-icon></div>
        </td>
        <td>
          <p class="titreCard">Rewind </p>
          <p>Revivez vos meilleurs souvenirs</p>
        </td>
      </tr>
    </table>
  </ion-card>
  <ion-card [routerLink]="['/recherche']">
    <table>
      <tr>
        <td>
          <div ><ion-icon class="dansCard" name="person-add-outline"></ion-icon></div>
        </td>
        <td>
          <p class="titreCard">Ajouter un ami </p>
          <p>Retrouvez vos amis pour partager vos souvenirs</p>
        </td>
      </tr>
    </table>
  </ion-card>

</ion-content>
