ion-toolbar{
    --background: #FFF2F2;
}

.dansHeader{
    height: 30px;
    width: 30px;
    margin-right : 20px;
    color : black;
}

ion-card{

    height: 90px;
    width : 250px;
    margin: auto;
    margin-top : 20px;
    background-color: #FFF2F2;
}

.dansCard{
    height : 30px;
    width: 40px;
    margin-left : 10px;
    margin-right : 20px;
}

.titreCard{
    font-size: 18px;
    font-weight: bold;
    margin-bottom : -10px;
}

form{
    height: 100px;
    width: 250px;
}