<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/souvenirs']"><ion-icon class="dansHeader" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Résultats</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/mon-profil']"><ion-icon class="dansHeader" name="person-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    <div class="profile">
    <div class ="img-box">
      <img src="../../assets/roger.jpg">
    </div>

        <ion-fab vertical="top" horizontal="end"  slot="fixed">
            <ion-fab-button>
                <ion-icon name="person-add-outline" style="color:black;"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    
    <div class="Desc">
    <p>CARLATTE</p>
    <p>Roger</p> 
   </div> 
  </div>     
  
  <ion-list>
    <ion-card *ngFor="let souvenir of listSouvenir;">
        <div class="card-title">{{souvenir.nom}}</div>
        <div class="card-subtitle">{{souvenir.lieu}}</div>
        <div class="card-subtitle">{{souvenir.date}}</div>
        <div>
            <ion-img src={{souvenir.image}}></ion-img>
        </div>


    </ion-card>
</ion-list>
</ion-content>
