<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/souvenirs']"><ion-icon class="dansHeader" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Recherche</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/mon-profil']"><ion-icon class="dansHeader" name="person-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col >
          <div>
            <br>Description
            <br>
            <br>Jhon
            <br>dupont
          </div>
        </ion-col>
        <ion-col>
          <div><img  src="./assets/avatarIcon.jpg" /></div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-end">
        <ion-col ></ion-col>
        <ion-col ></ion-col>
        <ion-col >
        </ion-col>
        <ion-col >
          <div>
            <ion-fab-button >
              <img src="./assets/add-friend.png" /> 
            </ion-fab-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-card>
    <ion-row>
      <ion-col>
        <div>
            <ion-card-content>les vielles charrues</ion-card-content>
        </div>
      </ion-col>
      <ion-col>
        <div><img src="./assets/ViellesCharrues.jpg" /></div>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        <div>
          <ion-card-content>le Film Eragon</ion-card-content>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="./assets/eragon.jpg" />
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        <div>
          <ion-card-content>Le Louvre</ion-card-content>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="./assets/louvre.jpg" />
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
