<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/souvenirs']"><ion-icon class="dansHeader" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Partager un souvenir</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/mon-profil']"><ion-icon class="dansHeader" name="person-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="invisible">
    <ion-item>
      <ion-label style="text-align: center;" position="floating">Contact</ion-label>
    </ion-item>
    <FORM>
      <SELECT name="nom" size="1">
      <OPTION>Jean-Michel Bidouille
      <OPTION>Sara Dupont
      <OPTION>Luc Conti
      <OPTION>Ali Mansouri
      </SELECT>
      </FORM>
     <ion-item>
      <ion-label style="text-align: center;" position="floating">Souvenir</ion-label>
    </ion-item>


   
   </div>
   
   <ion-card>
    <div class="card-title">Super séjour</div>
    <div class="card-subtitle">Quiberon</div>
    <div class="card-subtitle">03/02/2018</div>
    <div>
      <ion-img src="../../assets/example2.jpg"></ion-img>
  </div>
</ion-card>
    <div class="invisible">
<ion-card class="bouton">
  <h4>Partager</h4>
</ion-card>
</div>
</ion-content>


  

