<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button><ion-icon class="dansHeader" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Partager souvenir</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon class="dansHeader" name="person-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar> 
</ion-header>


<ion-content>
  <div class="invisible">
    <ion-item>
      <ion-label style="text-align: center;" position="floating">Contact</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <FORM>
      <SELECT name="nom" size="1">
      <OPTION>Jean-Michel Bidouille
      <OPTION>Sara Dupont
      <OPTION>Luc Conti
      <OPTION>Ali Mansouri
      </SELECT>
      </FORM>


     <ion-item>
      <ion-label style="text-align: center;" position="floating">Souvenir</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <FORM>
      <SELECT name="nom" size="1">
      <OPTION>Vacances au soleil
      <OPTION>Semaine aux Alpes
      <OPTION>Week-end à Barcelone
      <OPTION>Week-en d'intérgration
      </SELECT>
      </FORM>
    
     <ion-card class="bouton">
       <p>Partager</p>
     </ion-card>
   
   </div>

</ion-content>


  

