ion-button{
  --background: #FFF2F2;
  --color:black;
}

ion-toolbar{
  --background: #FFF2F2;
}

ion-title {
  text-align: center;
  font-weight: bold;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



ion-checkbox{
    width: 40px;
    height: 40px;
    display: block;
    --background: #FFDDDD;
    --background-checked: #EDC0C0;
    --border-color-checked: white;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

ion-card{
    --background: #FFF2F2;
}

h3{
    color: black;
}
ion-card{
    padding:0;
}

#recherche{
    z-index: 100;
    position: fixed;
    bottom: 0px;
    left: 50%;
transform: translateX(-50%);
    text-align: center;
     --background: #FFF2F2;
    --background-hover: #FFF2F2;
    --color: black;
    --color-hover: black;
    --background-activated: #FFF2F2;
}

#footer{
    z-index: 99;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #EEEEEE;
}

ion-card-title{
    font-size: 20px;
    font-weight: bold;
}

.bouton{
    
  height: auto;
  width : 80%;
  margin: auto;
  text-align: center;
  margin-top : 20px;
  background-color: #FFF2F2;
  color:black;
}