<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/souvenirs']"><ion-icon class="dansHeader" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Résultats recherche</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/mon-profil']"><ion-icon class="dansHeader" name="person-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


 <ion-card>
        <img id="card_img" src="./assets/vieilles_charrues.png">
        <ion-card-header>
            <ion-grid>
               <ion-row>
                  <ion-col text-align="left" size="9">
                      <ion-card-subtitle>19/07/19</ion-card-subtitle>
          <ion-card-title>Vieilles charrues</ion-card-title>
                  </ion-col>
                  <ion-col center text-center size="3">
                    <ion-checkbox mode="ios"></ion-checkbox>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
      </ion-card>
     <ion-card>
        <img id="card_img" src="./assets/madonna.jpg">
        <ion-card-header>
            <ion-grid>
               <ion-row>
                  <ion-col text-align="left" size="9">
                      <ion-card-subtitle>06/09/20</ion-card-subtitle>
          <ion-card-title>Concert Madonna Paris</ion-card-title>
                  </ion-col>
                  <ion-col center text-center size="3">
                   <ion-checkbox mode="ios"></ion-checkbox>
                  </ion-col>
                </ion-row>
            </ion-grid>
          
        
        </ion-card-header>
      </ion-card>
    <div id="footer">
         <ion-card class="bouton" id="recherche" [routerLink]="['/new-souvenir']"> <h4>Ajouter à mon souvenir</h4> </ion-card>
    </div>
</ion-content>
