<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button><ion-icon name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Résultat Recherche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-item-sliding>
    <ion-item>
      <ion-card>
        <img src="./assets/livre.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
            <ion-checkbox color="danger"></ion-checkbox>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-item-sliding>
    
  <ion-item-sliding>
    <ion-item>
      <ion-card>
        <img src="./assets/livre.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
            <ion-checkbox color="danger"></ion-checkbox>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-item-sliding>
    
    <ion-item-sliding>
    <ion-item>
      <ion-card>
        <img src="./assets/livre.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
            <ion-checkbox color="danger"></ion-checkbox>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-item-sliding>
</ion-list>
</ion-content>
