<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/souvenirs']"><ion-icon class="dansHeader" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Nouveau souvenir</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/mon-profil']"><ion-icon class="dansHeader" name="person-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="invisible">
     <ion-item>
       <ion-label style="text-align: center;" position="floating">Nom du souvenir</ion-label>
       <ion-input></ion-input>
     </ion-item>
    <ion-item>
      <ion-label style="text-align: center;" position="floating">Date</ion-label>
        <ion-input style="font-size: 12px;" type="Date"></ion-input>
    </ion-item>
    <ion-card class="bouton" (click)="addPhoto()" expand="block">
      <table>
        <tr>
          <td>
            <div><ion-icon style="height: 30px; width: 30px; margin-left: 5px; margin-right: 10px;" name="image"></ion-icon></div>
          </td>
          <td>
            <p style="font-size: 18px;">Ajouter une image</p>
          </td>
        </tr>
      </table>
    </ion-card>
    <FORM>
        <textarea>
 Description
        </textarea>
        <ion-card [routerLink]="['/souvenirs']" class="bouton">
          <h4>Suivant</h4>
        </ion-card>
    </FORM>
  </div>
</ion-content>
