<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button><ion-icon class="dansHeader" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Nouveau souvenir</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon class="dansHeader" name="person-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="invisible">
 <ion-item>
   <ion-label style="text-align: center;" position="floating">Nom du souvenir</ion-label>
   <ion-input></ion-input>
 </ion-item>
 <ion-item>
  <ion-label style="text-align: center;" position="floating">Date</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-card class="bouton">
  <p>Recherche d'un évènement</p>
</ion-card>
<FORM>
  <SELECT name="nom" size="1">
  <OPTION>Eragon
  <OPTION>Harry Potter
  <OPTION>Twilight
  <OPTION>Hunger games
  <OPTION>Contagion
  </SELECT>
  </FORM>
  <textarea>
    Description
  </textarea>
  <ion-card class="bouton">
    <p>Suivant</p>
  </ion-card>

</div>
</ion-content>
