ion-button{
    --background: #FFF2F2;
    --color:black;
}

ion-toolbar{
    --background: #FFF2F2;
}

ion-title {
    text-align: center;
    font-weight: bold;
}

ion-card{

    height: auto;
    width : auto;
    margin: auto;
    text-align: center;
    margin-top : 20px;
    background-color: #FFF2F2;
}

.bouton{
    
    height: auto;
    width : auto;
    margin: auto;
    text-align: center;
    margin-top : 20px;
    background-color: #FFF2F2;
    color:black;
}

.invisible{

    width: 200px;
    align-content: center;
    border:none;
    margin-right: auto;
    margin-left:auto;
    margin-top: 20px;
    
}
select{
  background-color: #FFF2F2;
  text-align: center;  
  width: 200px;
}

form{
    margin-top: 5px;
    text-align: center;
    width: 200px;
}

textarea{
    resize: none;
     width: 200px;
     margin-top: 20px;
     height: 100px;
    background: white;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    border-radius: 10px;
    color : darkgrey;
}

