<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <form  #form="ngForm" (ngSubmit)="register(form)" novalidate>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Créer votre compte !</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input  name="lastName" type="text" placeholder="Nom" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="firstName" type="text" placeholder="Prénom" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Mot de passe" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="confirm" type="password" placeholder="Confirmation mot de passe" ngModel required></ion-input>
              </ion-item>
            </div>
            <br>
            <div padding>
              <ion-button (click)="validRegister()" size="large" type="submit" [disabled]="form.invalid" expand="block">S'inscrire</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</ion-content>
