<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="invisible">
    <form  #form="ngForm" (ngSubmit)="register(form)" novalidate>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div>
              <ion-item>
                  <ion-label style="text-align: center;" position="floating">Nom</ion-label>
                  <ion-input></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label style="text-align: center;" position="floating">Prénom</ion-label>
                  <ion-input></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label style="text-align: center;" position="floating">Mot de passe</ion-label>
                  <ion-input type="password"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label style="text-align: center;" position="floating">Confirmation</ion-label>
                  <ion-input type="password"></ion-input>
                </ion-item>
            </div>
            <br>
            <div padding>
              <ion-card class="bouton" [routerLink]="['/souvenirs']" size="large" type="submit" [disabled]="form.invalid" expand="block"><h4>S'inscrire</h4></ion-card>
            </div>
            <p>Déjà un compte ?<br><a [routerLink]="['/login']">Se connecter</a></p>  
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
